#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_bitcoin
#build/bitcoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_bitcoin)

DEB_INSTALL_EXAMPLES_c0fferCoind += debian/examples/*
DEB_INSTALL_MANPAGES_c0fferCoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix c0fferCoind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f c0fferCoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake c0fferCoin-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_c0fferCoin
	src/test_c0fferCoin

# Ensure wrapper is set executable
binary-post-install/c0fferCoind:
	chmod +x $(cdbs_curdestdir)usr/bin/c0fferCoind
binary-post-install/c0fferCoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/c0fferCoin-qt
